body{
    font-family: arial;
    margin: 5px;
}

table{
    width: 90%;
    border-collapse: collapse;
}

.uncenter{
    border: 2px solid black;
    padding: 3p 7px 2px 7px;
    height: 50px;
    padding-left: 20px;
}

.centrar, th{
    text-align: center;
    border: 2px solid black;
    padding: 3p 7px 2px 7px;
    height: 50px;
}