<template>
  <div>
    <!-- navbar y usuarios se pueden juntar o colocar en capas diferentes -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://prueba-9e16b.web.app/#/">Bienvenido</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://my-user-manager.herokuapp.com/users">Link Api</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="caja">
      <h2>Usuarios</h2>    
      <!-- Listado y buscador -->
      <div class="container">
        <!-- input buscador-->
        <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Introduce nombre o id"/>
        <table class="table table-bordered table-striped">
          <!-- crea cabeza de tabla -->
          <thead>
            <tr>
              <!-- si se desconocen las claves o por tamaño también se puede pasar por un "for" y que las creee automaticamente -->
              <th>Id</th>
              <th>Nombre</th>
              <th>Email</th>
            </tr>
          </thead>
          <!-- contenido de la tabla -->
          <!-- puede ser nulo si no hay coincidencias en el buscador -->
          <tbody id="myTable">
            <tr v-for="persona in personas" v-bind:key="persona">
              <th scope="row">{{ persona.id }}</th>
              <td>{{ persona.name }}</td>
              <td>{{ persona.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<!-- se realiza la conexión, se obtienen los datos y se guardan en una variable -->
<script>
import axios from "axios";
export default {
  name: "test",
  data() {
    return {
      personas: null,
    };
  },
  created() {
    var vm = this;
    axios
      .get("https://my-user-manager.herokuapp.com/users")
      .then((response) => {
        vm.personas = response.data;
        console.log(response);
      });
  },
};

//función para crear un buscador y actualización de la tabla en conforme a la busqueda
$(document).ready(function () {
  $("#tableSearch").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function () {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
    });
  });
});

</script>

<!-- estilos definidos -->
<style scoped>
.caja {
  position: relative;
  top: 30px;
  width: 402px;
  padding-left: 10px;
  margin: 0px auto;
}
#lista {
  position: relative;
  text-align: left;
  width: 400px;
  border: solid 1px aliceblue;
  margin: 0px auto;
  border: salmon solid 1px;
  background-color: aliceblue;
}
.p {
  text-align: left;
  float: left;
}
</style>